{% extends 'base.html' %}
{% block container %}
    <div class="container">
        <div align="center">

            {% for error in errors %}
                <br>
                <h4>{{ error }}</h4>
      {% endfor %}
       <br>
    </div>
      <h1>Small Pastebin Clone</h1>
      <form role="form" method='POST' action='/'>

        <div class="form-group">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="language">Syntax</label>
              <div class="col-sm-10">
                <select class="form-control" id="language" name="language">
                    <option value="text">Text</option>
                    <option value="html">HTML</option>
                    <option value="css">CSS</option>
                    <option value="c_cpp">C++</option>
                    <option value="javascript">JavaScript</option>
                    <option value="coffee">CoffeeScript</option>
                    <option value="sh">Bash</option>
                    <option value="python">Python</option>
                    <option value="ruby">Ruby</option>
                    <option value="php">PHP</option>
                </select></div>
            </div>
            <input name="title" class="form-control" placeholder="Title..."></input>
            <textarea name="code" class="form-control" placeholder="Paste your code here..." style="min-height: 300px;" autofocus required></textarea>
        </div>

          <button type="submit" class="btn btn-outline-primary btn-lg float-right">Submit</button>
      </form>
    </div>
{% endblock %}