{% extends 'base.html' %}
{% block container %}
    <div class="container">
      <h1>Small Pastebin Clone</h1>
      <form role="form" method='POST' action='/'>
        <div class="form-group">
            <input name="code" class="form-control" value="{{ code.title }}" disabled>
<br>
            <div>
                <pre id="embedded_ace_code" class="ace_editor ace-tm form-control" style="height: 70vh" draggable="false">
                    <style type="text/css" media="screen">
                    #editor {
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }</style>

                    <div id="editor">{{ code.code }}</div>

                    <script src="{{ url_for('static', filename='js/ace-builds/src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
                    <script>
                        var editor = ace.edit("editor");
                        editor.setTheme("ace/theme/textmate");
                        editor.session.setMode("ace/mode/{{ code.language }}");
                    </script>
                </pre>
            </div>
        </div>
      </form>
      <br>
      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}
    </div>
{% endblock %}