{% extends 'base.html' %}
{% block container %}
    <div class="container">
        <div align="center">

            {% for error in errors %}
                <br>
                <h4>{{ error }}</h4>
      {% endfor %}
       <br>
    </div>
        <div class="container-fluid">
            {% for code in codes %}
                <dl class="dl-horizontal">
                    <dt>{{ code.title }}</dt>
                    <dd>{{ code.code }}</dd>
                </dl>
            {% endfor %}
        </div>
    </div>
{% endblock %}